# This workflow should download the latest Bulk Rename Utility EXE, and compare the previous hash 
# with the current hash. 

name: check-bulkrenameutility-hash

on:
  schedule:
      - cron: "0 0 * * *"
  
  workflow_dispatch:
 
jobs:
  bulkrenameutility_hash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Check Bulk Rename Utility Hash
        run: |
          VERSION=$(cat /home/runner/work/bitcurator-win-salt/bitcurator-win-salt/bitcurator/downloads/packages/bulk-rename-utility.sls | grep "set version" | awk -F\' '{print tolower($2)}')
          wget https://www.s3.tgrmn.com/bru4/BRU_setup_$VERSION.exe
          PREVIOUS_HASH=$(cat /home/runner/work/bitcurator-win-salt/bitcurator-win-salt/bitcurator/downloads/packages/bulk-rename-utility.sls | grep "set hash" | awk -F\' '{print tolower($2)}')
          CURRENT_HASH=$(sha256sum BRU_setup_$VERSION.exe | awk '{print $1}')
          if [[ "$PREVIOUS_HASH" != "$CURRENT_HASH" ]]; then echo "HASH UPDATED - $CURRENT_HASH" && exit 1; else echo "No hash changes" && exit 0; fi
